<h2>Edit <%= @member.first_name %></h2>
<form method="POST" action="/members/<%= @member.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="<%= @member.first_name %>"/>
    </div>

    <div class="form-el">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value="<%= @member.last_name%>"/>
    </div>

    <div class="form-el">
          <label for="session_select">Select Session:</label>
          <select name="session_id" id="session_select" selected="<%= @member.session_id  %>">
            <% @sessions.each do |session| %>
              <% if session.id == @member.session_id %>
                <option value=<%= session.id %> selected><%= session.session_name.capitalize %></option>
              <% else %>
                <option value=<%= session.id %>><%= session.session_name.capitalize %></option>
              <% end %>
            <% end %>
          </select>
        </div>

    <div class="form-el">
      <input type="submit" value="Edit member"/>
    </div>

  </div>
</form>
