<h1>Members</h1>

<table>
  <tr>
    <th>Full Name</th>
    <th></th>
    <th>Membership Type</th>
    <th></th>
    <th>Class Attending</th>
    <th></th>
    <th>Date Joined</th>
    <th></th>
    <th>Renewal of Membership needed</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.format_name %></a></td>
    <td>|</td>
    <td><%= member.membership_type %></td>
    <td>|</td>
    <td><%= member.session_name %></td>
    <td>|</td>
    <td><%= member.date_joined %></td>
    <td>|</td>
    <td><%= member.time_expired %></td>
  </tr>
  <% end %>
</table>
<br>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/members/new">Add new member</a>
</p>
