<h1>Members</h1>
<style>
.members {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.members td, .members th {
  border: 1px solid #ddd;
  padding: 8px;
}

.members tr:nth-child(even){background-color: #f2f2f2;}

.members tr:hover {background-color: #ddd;}

.members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #27282b;
  color: white;
}
</style>

<table class="members">
  <tr>
    <th>Full Name</th>
    <th>Membership Type</th>
    <th>Class Attending</th>
    <th>Date Joined</th>
    <th>Renewal of Membership needed</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.format_name %></a></td>
    <td><%= member.membership_type %></td>
    <td><%= member.session_name %></td>
    <td><%= member.date_joined %></td>
    <td><%= member.time_expired %></td>
  </tr>
  <% end %>
</table>
<br>
<br>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/members/new">Add new member</a>
</p>
