
<style>
input[type=submit] {
  width: 50%;
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #808080;
}
input[id=del] {
  width: 50%;
  background-color: #e52756;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[id=del]:hover {
  background-color: #808080;
}

aside {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
</style>


<h1><%= @member.format_name %></h1>
<aside>
<h2>Member ID: <%= @member.id %></h2>
<br>
<h2>Membership Type: <%= @member.membership_type %></h2>
<br>
<br>
<form action="/members/<%= @member.id %>/edit" method="GET">
  <input class="btn btn--action" type="submit" value="Edit">
</form>
<br>
<form action="/members/<%= @member.id %>/delete" method="POST">
  <input class="btn btn--action" id="del" type="submit" value="Delete">
</form>
</aside>
