
<h1>Member ID - <%= @member.id %></h1>

<h1><%= @member.format_name %></h1>

<p>Membership Type <%= @member.membership_type %></p>


<form action="/members/<%= @member.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
<form action="/members/<%= @member.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
