
<h1><%= @member.format_name %></h1>





<h2>Member ID - <%= @member.id %></h2>
<h2>Membership Type: <%= @member.membership_type %></h2>
<br>
<br>

<form action="/members/<%= @member.id %>/edit" method="GET"><input class="btn btn--action" type="submit" value="Edit"></form>

<br>
<form action="/members/<%= @member.id %>/delete" method="POST"><input class="btn btn--action" type="submit" value="Delete"></form>
