<h2>Edit <%= @session.session_name %></h2>
<form method="POST" action="/sessions/<%= @session.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="session_name">Class Name:</label>
      <input type="text" name="session_name" id="session_name" value="<%= @session.session_name %>"/>
    </div>

    <div class="form-el">
      <label for="session_time">Class Time:</label>
      <input type="text" name="session_time" id="session_time" value="<%= @session.session_time%>"/>
    </div>

    <div class="form-el">
      <label for="capacity">Class Capacity:</label>
      <input type="text" name="capacity" id="capacity" value="<%= @session.capacity%>"/>
    </div>


    <div class="form-el">
      <input type="submit" value="Edit class"/>
    </div>

  </div>
</form>
